.timer {
  font-family: 'digital-clock-font';
  text-align: left;
  text-indent: 200px;
  font-size: 10em;
  font-weight: bold;
}

@font-face {
  font-family: 'digital-clock-font';
  src: url('../fonts/digital-7.ttf');
}
